<html layout:decorate="~{thymeleaf/club/layout}">
<div layout:fragment="content" class="container my-3">
	<div class="text-start">
		<h3 th:text="${game.subject}"></h3>
	</div>
    <div class="row border-bottom">
		<div class="col-8 text-start mt-2 mb-2">
			<form th:action="@{/club/meeting}" method="get">
				<button  type="submit" class="btn btn-sm btn-outline-secondary">목록으로</button>
			</form>
		</div>
        <div class="col-4 text-end">
            <div class="btn-toolbar justify-content-end mt-2 mb-2" th:if="${#authorization.expression('hasRole(''ROLE_GOLD'')') ? true : false}">
                <div class="btn-group btn-group-sm">
                    <a th:href="|@{/club/meeting/modify/}${game.id}|" class="btn btn-outline-secondary">수정</a>
                    <a href="#" class="delete btn btn-outline-secondary" th:attr="data-uri='/club/meeting/delete/' + ${game.id}">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <div id="msg"></div>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>NO</td>
                <td>Name</td>
                <td>G1</td>
                <td>G2</td>
                <td>G3</td>
                <td>G4</td>
                <td>삭제</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="player : ${game.getPlayers()}"class="text-center">
                <td th:text="${player.seq}"></td>
                <td th:text="${player.name}" class="text-start"></td>
                <td th:text="${#strings.isEmpty(player.score01)} ? '' : |${player.score01}@{:}${player.score11}|"></td>
                <td th:text="${#strings.isEmpty(player.score02)} ? '' : |${player.score02}@{:}${player.score12}|"></td>
                <td th:text="${#strings.isEmpty(player.score03)} ? '' : |${player.score03}@{:}${player.score13}|"></td>
                <td th:text="${#strings.isEmpty(player.score04)} ? '' : |${player.score04}@{:}${player.score14}|"></td>
                <td>
                    <th:block th:if="${game.getMatches().isEmpty()}">
                    <a href="#" class="delete btn btn-sm btn-outline-secondary" th:attr="data-uri='/club/player/delete/' + ${player.id}">삭제</a>
                    </th:block>
                </td>
            </c:forEach>
        </tbody>
    </table>
    <th:block th:if="${#authorization.expression('hasRole(''ROLE_GOLD'')') ? true : false}">
        <form id="form1" th:action="|@{/club/player/create/}${game.id}|" method="post">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" name="name" id="name" value="">
                <button type="button" class="btn btn-primary" id="liveAlertBtn">추가</button>
            </div>
            <div id="err"></div>
        </form>
    </th:block>
    <div class="row border-bottom">
        <div class="col-8">
            <h5 class="py-1">대진표</h5>
        </div>
        <div class="col-4 text-end">
			<div th:if="${#authorization.expression('hasRole(''ROLE_GOLD'')') ? true : false}" class="btn-toolbar justify-content-end">
				<div th:if="${game.getMatches().isEmpty()}" class="btn-group btn-group-sm">
					<a th:href="|@{/club/match/create/}${game.id}|" class="btn btn-outline-secondary">대진표 생성</a>
				</div>
				<div th:unless="${game.getMatches().isEmpty()}" class="btn-group btn-group-sm">
					<a th:href="|@{/club/match/delete/}${game.id}|" class="btn btn-outline-secondary">대진표 삭제</a>
				</div>
			</div>
        </div>
    </div>

    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>Team A : Team B</td>
                <td>결과</td>
            </tr>
        </thead>
        <tbody>
            <tr sec:authorize="isAnonymous()">
                <td colspan="2" class="text-center">
                    <a href="/club/login">로그인</a>후 확인해 보세요
                </td>
            </tr>
            <th:block sec:authorize="isAuthenticated()" th:each="match : ${game.getMatches()}">
            <tr class="text-center">
                <td th:text="|@{[}${match.seq}@{]}${match.description}|" class="text-start"></td>
                <td>
                    <th:block th:if="${not #strings.isEmpty(match.score1)}" th:text="|${match.score1}@{:}${match.score2}|">
                    </th:block>
                    <th:block th:unless="${not #strings.isEmpty(match.score1)}">
                        <button th:if="${#authorization.expression('hasRole(''ROLE_GOLD'')') ? true : false}" type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" th:attr="data-bs-target='#collap' + ${match.id}">입력</button>
                    </th:block>
                </td>
            </tr>

            <tr th:if="${#authorization.expression('hasRole(''ROLE_GOLD'')') ? true : false}" >
                <td colspan="3">
                    <div th:id="'collap' + ${match.id}" class="collapse">
                        <form th:action="|@{/club/match/save/}${match.id}|" method="post">
                            <div class="input-group input-group-sm justify-content-end">
                                <span class="input-group-text">Score</span>
                                <select class="form-select" name="score1" id="score1">
                                    <option value="6" selected>6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                                <span class="input-group-text">:</span>
                                <select class="form-select" name="score2" id="score2">
                                    <option value="6" selected>6</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                                <button type="submit" class="btn btn-outline-secondary">결과입력</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </th:block>
        </tbody>
    </table>

    <!-- 집계-->
    <div class="row border-bottom">
		<div class="col-8 text-start mb-1">
            <h5>집계</h5>
		</div>
        <div th:if="${#authorization.expression('hasRole(''ROLE_GOLD'')') ? true : false}"  class="col-4 text-end mb-1">
			<div class="text-end">
				<a th:href="@{|/club/player/ranking/${game.id}|}" class="btn btn-sm btn-outline-secondary">집계</a>
			</div>
        </div>
    </div>
    <table class="table">
        <thead class="text-center table-dark">
            <tr>
                <td>Name</td>
                <td>MW</td>
                <td>ML</td>
                <td>GW</td>
                <td>GL</td>
                <td>SM</td>
                <td>RA</td>
            </tr>
        </thead>
        <tbody>
            <tr sec:authorize="isAnonymous()">
                <td colspan="7" class="text-center">
                    <a href="/club/login">로그인</a>후 확인해 보세요
                </td>
            </tr>
            <th:block sec:authorize="isAuthenticated()" th:each="player : ${game.getPlayers()}">
            <tr class="text-center">
                <td class="text-start">
                    <button th:attr="data-id=${player.id}, data-name=${player.name}, data-birth=${player.birth}" type="button" class="open-modal btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal0108">
                        [[${player.name}]]
                    </button>
                    <span  th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false}" th:text="${player.birth}"></span>
                </td>
                <td th:text="${player.matchWin}" class="text-end"></td>
                <td th:text="${player.matchLose}" class="text-end"></td>
                <td th:text="${player.gameWin}" class="text-end"></td>
                <td th:text="${player.gameLose}" class="text-end"> </td>
                <td th:text="${player.gameSum}" class="text-end">  </td>
                <td th:text="${player.matchRank}" class="text-end"></td>
            </tr>
            </th:block>
        </tbody>
    </table>
    <div class="modal fade" id="modal0108" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">생년월 입력</h5>
                </div>
                <div class="modal-body">
                    <span id="pname"></span>
                    <form id="form2" method="post" class="post-form my-3">
                        <div class="mb-2">
                            <input type="hidden" name="pid" id="pid">
                            <input type="text" class="form-control" name="birth" id="birth">
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-sm btn-primary">저장</button>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
const cnt_player = [[${game.getPlayers().size()}]] ;
const cnt_match = [[${game.getMatches().size()}]] ;
$(document).ready(function() {
    console.log("ready");
    //$.getParam();
    $("#form1").submit(function(event) {
        event.preventDefault();
        if(cnt_player == 7) {
            alert("최대 7명까지 가능합니다.", "warning");
            return;
        }
        
        if(cnt_match > 0) {
            alert("대진표가 이미 생성되었습니다.");
            return;
        }
        $.ajax_submit();
    });

    $("#form2").submit(function(e) {
        event.preventDefault();

        var form_data = {};
        form_data.name = $("#pname").text();
        form_data.id = $("#pid").val();
        form_data.birth = $("#birth").val();

        console.log(form_data);

        $.ajax({
            type: "POST",
		    contentType: "application/json",
            url: "/club/player/savebirth",
            data: JSON.stringify(form_data),
            dataType: "json",
            success: function(data) {
                console.log(data);
                $("#modal0108").modal("hide");
                location.reload();
            },
            error: function(err) {
                console.log(err.responseJSON);
            }
        });
    });
});

const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
		    var form_data = {};
			var loc = this.dataset.uri;
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: loc,
                data: null,
                dataType: "json",
                success: function(data) {
                    var json = JSON.stringify(data, null, 4);
                    if(data.errorContent == "Y") {
						if(loc.indexOf("player") > -1) {
                            location.reload();
						} else {
                            location.href = "/club/meeting";
						}
                    } else {
                        //$("#err").html(data.messages[0]);
					    alert(data.messages[0], "warning");
                    }
                },
                error: function(e) {
				    alert(e.responseText);
                    console.log(e);
                }
            });
        }
    });
});

$.ajax_submit = function() {
	var form_data = {};
	form_data.name = $("#name").val();

	$.ajax({
		type: "POST",
		contentType: "application/json",
		url: "/club/player/create2/" + [[${game.id}]],
		data: JSON.stringify(form_data),
		dataType: "json",
		success: function(data) {
		    var result = data;
			if(result.code == "Y") {
				location.reload();
			} else {
				alert(result.message, 'warning');
			}
		},
		error: function(e) {
			console.log(e.responseJSON);
			var result = e.responseJSON;
			alert(result.message, "warning");
			/*
			var err = e.responseJSON;
			alert(err.status + "\n" + err.error + "\n" + err.path, 'warning');
			*/
		}
	});
}

const msgHolder = document.getElementById("msg");

const alert = (message, type) => {
    const wrapper = document.createElement("div");
    wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        `    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>`,
        `</div>`
    ].join('');
    
    msgHolder.append(wrapper);
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
        //alert('Nice, you triggered this alert message!', 'success');
        if(cnt_player == 7) {
            alert("최대 7명까지 가능합니다.", "warning");
            return;
        }
        
        if(cnt_match > 0) {
            alert("대진표가 이미 생성되었습니다.", "warning");
            return;
        }
        $.ajax_submit();
    });
}

$(document).on("click", ".open-modal", function(e) {
    e.preventDefault();

    var name = $(this).data("name");
    var id = $(this).data("id");
    var birth = $(this).data("birth");

    $("#pname").text(name);
    $("#pid").val(id);
    $("#birth").val(birth);

    $($(this).data("bs-target")).modal("show");
});

</script>