<html layout:decorate="~{thymeleaf/club/layout}">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">모임 등록</h5>
    <form method="post" class="post-form my-3">
        <div class="mb-2">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" th:value="${game.getSubject()}">
        </div>
		<div class="text-end">
            <button type="submit" class="btn btn-sm btn-primary">저장</button>
            <button id="btn1" type="button" class="btn btn-sm btn-primary">취소</button>
		</div>
    </form>
</div>
<script layout:fragment="script">

const btn1 = document.getElementById('btn1')
if (btn1) {
    btn1.addEventListener('click', () => {
		window.location.href = "/club/meeting";
    });
}

</script>