<html layout:decorate="~{thymeleaf/club/layout}">
<div layout:fragment="content" class="container-fluid my-2">
    <div class="btn-toolbar justify-content-end mb-1">
        <div class="btn-group btn-group-sm">
            <a th:href="@{/club/create}" class="btn btn-sm btn-primary">모임 추가</a>
        </div>
    </div>
    <table id="grid1" class="table mt-1">
        <thead class="text-left table-dark">
        <tr>
            <th>모임명</th>
            <th>만든이aa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${list}" class="text-start">
            <td class="text-start">
                <a th:href="@{|/club/meeting/${game.id}|}" th:text="${game.subject}"></a>
				<span class="text-danger small ml-2" th:text="${game.playerCount}"></span>
            </td>
            <td class="text-start">
                <span th:if="${game.author != null}" th:text="${game.author.username}"></span>
            </td>
        </tr>
        </tbody>
    </table>    
</div>

<!-- 스크립트 블럭 -->
<script layout:fragment="script">
var param = {};
$(document).ready(function() {
    console.log("ready");
    //$.getParam();
});

$.getParam = function() {
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/club/meeting",
        data: param,
        dataType: "json",
        success: function(data) {
            param = data;

            console.log(param);
            
            //$("#p1").text(param.member.username + "(" + param.member.email + ")");
            //$("#p2").text(param.score);
            //$.setGrid(param.matches);
        },
        error: function(e) {
		    console.log(e.responseText);
        }
    });
}

$.setGrid = function(rows) {
    /*
    var rows = [
        ["22.09.18" , "고호진,진현범 3", "염동연,신성묵 4", "패"]
       ,["22.09.18" , "고호진,진현범 3", "염동연,신성묵 4", "패"]
       ,["22.09.18" , "고호진,진현범 3", "염동연,신성묵 4", "패"]
    ];
    */

    var rowtag = "";
    
    $.each(rows, function(index, item) {

        row_tag  = "<tr>";
        row_tag += "<td class='text-center'>" + item.result + "[3:6]" + "<br>" + item.createDate + "</td>" ;
        row_tag += "<td class='text-center'>" + item.teamDesc1.replace(",","<br>")  + "</td>" ;
        row_tag += "<td class='text-center'>" + item.teamDesc2.replace(",","<br>")  + "</td>" ;
        row_tag += "</tr>";
	
        $("#grid1>tbody").append(row_tag);
    });
}
</script>
