<html layout:decorate="~{thymeleaf/book/layout}">
<div layout:fragment="content" class="container my-2">
    <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
            <select class="form-select" name="opt" id="opt"></select>
        </div>
        <span class="input-group-text">Key</span>
        <input type="text" class="form-control" name="key" id="key">
        <button id="btn1" type="submit" class="btn btn-outline-secondary">Search</button>
    </div>
    <div class="row ">
        <div class="col-8">
            <h6 id="cnt1" class="small text-muted text-start mt-1"></h6>
        </div>
        <div class="col-4 text-end">
            <a th:onclick="|javascript:goCreate()|" class="btn btn-sm btn-primary">단어 추가</a>
        </div>
    </div>
    <table id="grid1" class="table mt-1">
        <thead class="text-left table-dark">
        <tr>
            <th>단어</th>
            <th>의미</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

<th:block layout:fragment="script">
<script th:src="@{/js/wordbook/list.js}"></script>
<script>

// 검색조건 설정
const setOpts = (opts, sel) => {
    $("#opt").empty();
    
    $.each(opts, function(index, item) {
        const opt = `<option value='${item.val}'>${item.txt}</option>`;
        $("#opt").append(opt);
    });
    $("#opt").val(sel);
}

//Grid에 데이터 채우기
const setGrid = (rows) => {
    var rowtag = "";
    
    $("#grid1>tbody").empty();
        
    $.each(rows, function(index, item) {
        row_tag  = `<tr>`;
        row_tag += `<td class="text-start"><a href="javascript:void(0);" onclick="goDetail('${item.id}');">${item.word}</a></td>`;
        row_tag += `<td class="text-start">${item.meaning1}</td>`;
        row_tag += `</tr>`;

        //console.log(row_tag);

        $("#grid1>tbody").append(row_tag);
    });
    
    $("#cnt1").text(rows.length);
}

const goCreate = () => {
    let loc = `/book/create`;

    if(opt) {
        loc += "/" + opt;
    }

    if(key) {
        loc += "/" + key;
    }

    location.href = loc;
}

const goDetail = (id) => {
    let loc = `/book/word/${code}/${id}`;

    if(opt) {
        loc += `/${opt}`
    }

    if(key) {
        loc += `/${key}`
    }

    console.log(loc);
    location.href = loc;
}


// 데이터를 가져온후 
const afterGetData = (res) => {
    if(res.status == 200) {
        data = res.data;
        console.log(data);
        setOpts(data.opts, data.selOpt);
        setGrid(data.words);
    } else {
        alert(res.message);
    }
}


// Search
const btn1 = document.getElementById("btn1");

if (btn1) {
    btn1.addEventListener('click', () => {
        var opt = $("#opt").val();
        var key = $("#key").val();
      
        var loc = `/book/list/${code}/${opt}`;
        
        if (key) {
            loc += `/${key}`;
            path += `/${key}`;
        }
        console.log(loc);
        location.href = loc;
    });
}

var data = {};
var code = "[[${code}]]";
var opt = "[[${opt}]]";
var key = "[[${key}]]";
var path = "[[${path}]]";

/* --- sample data
data.username = '홍길동';
data.opts = [
    { val : "eng", txt : "단어"}
   ,{ val : "kor", txt : "의미"}
   ,{ val : "tag", txt : "태그"}
];
data.selOpt = "tag";

data.words = [
    { word : "appoint", meaning1 : "임명하다"}
   ,{ word : "author" , meaning1 : "작가"    }
];
--- */

$(function() {
    if(key) {
        $("#key").val(key);
    }
    console.log(path);
    $.getData(path, afterGetData);
});

</script>
</th:block>