<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="headerFragment" class="container my-2">
    <div class="row border-bottom">
        <div class="col-6">
            <span th:text="${tit}"></span>
        </div>
        <div class="col-6 text-end">
            <span sec:authorize="isAuthenticated()" th:text="'Hello, ' + ${#authentication.getPrincipal().getMember().getEmail()}"></span>
        </div>
    </div>
</div>
</body>
</html>