<div th:fragment="headerFragment" class="container-fluid my-2">
    <div class="row border-bottom">
        <div class="col-6">
            <span th:text="${tit}"></span>
        </div>
        <div class="col-6 text-end">
            <span sec:authorize="isAuthenticated()" th:text="'Hello, ' + ${#authentication.getPrincipal().getMember().getUsername()}"></span>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/book/login}">[[#{menu.login}]]</a>
        </div>
    </div>
</div>