<html layout:decorate="~{thymeleaf/book/layout}">
<div layout:fragment="content" class="container my-2">
    <form id="form1" th:action="@{/book/search}" method="get">
        <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
                <select class="form-select" name="opt" id="opt"></select>
            </div>
            <span class="input-group-text">Key</span>
            <input type="text" class="form-control" name="key" id="key">
            <button id="btn1" type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </form>
    <div class="row ">
        <div class="col-2">
            <h6 id="cnt1" class="small text-muted text-end mt-1"></h6>
        </div>
        <div class="col-5 text-end">
		    <form id="form10">
            <div class="input-group input-group-sm justify-content-end">
                <input type="number" min="1" class="form-control float-end text-end" name="page10" id="page10" value="1">
                <span class="input-group-text">/</span>
                <span id="pages" class="input-group-text"></span>
                <button id="btn10" type="submit" class="btn btn-outline-secondary">Go</button>
            </div>
			</form>
        </div>
        <div class="col-5">
            <div class="input-group input-group-sm justify-content-end">
                <button id="btn20" type="button" class="btn btn-outline-secondary">◀</button>
                <button id="btn30" type="button" class="btn btn-outline-secondary">▶</button>
                <a th:onclick="|javascript:goCreate()|" class="btn btn-sm btn-primary">Add</a>
            </div>
        </div>
    </div>
    <table id="grid1" class="table table-sm mt-1">
        <thead class="text-left table-dark">
        <tr>
            <th>Code</th>
            <th>Meaning</th>
            <th class="text-end">Memo</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

<th:block layout:fragment="script">
<script th:src="@{/js/wordbook/list.js}"></script>
<script>

// 검색조건 설정
const setOpts = (opts, sel) => {
    $("#opt").empty();
    
    $.each(opts, function(index, item) {
        const opt = `<option value='${item.val}'>${item.txt}</option>`;
        $("#opt").append(opt);
    });
    $("#opt").val(sel);
}

//Grid에 데이터 채우기
const setGrid = (rows) => {
    var rowtag = "";
    
    $("#grid1>tbody").empty();
        
    $.each(rows, function(index, item) {
        row_tag  = `<tr>`;
        row_tag += `<td class="text-start"><a href="javascript:void(0);" onclick="goDetail('${item.id}');">${item.word}</a></td>`;
        row_tag += `<td class="text-start">${item.meaning1}</td>`;
        /* ---
        if(item.basicCount > 0) {
            row_tag += `<td class="text-center"><a href="/book/list/3000/A/eng/${item.word}" class="small">GO</a></td>>`
        } else {
            row_tag += `<td class="text-end"></td>`;
        }
        --- */
        row_tag += `<td class="text-end">${item.memoCount}</td>`;
        row_tag += `</tr>`;

        if(item.books.length > 0) {
            for(var i = 0 ; i < item.books.length ; i++) {
                //if(item.books[i].code != item.meaning2) {
                    row_tag += `<tr>`;
                    row_tag += `<td class="text-end">${item.books[i].code == item.meaning2 ? '[O] ' : ''}=></td>`;
                    if(item.books[i].active == "Y") {
                            row_tag += `<td><a href="/book/list/${item.books[i].code}/A/eng/${item.word}">${item.books[i].name}</a></td>`;
                            row_tag += `<td class='text-end'>ACTIVE</td>`
                    } else {
                        row_tag += `<td>${item.books[i].name}</td>`;
                        row_tag += `<td class='text-end'><a href='/book/view/10110'>NOT ACTIVE</a></td>`
                    }
                    row_tag += `</tr>`;
                //}
            }
        }
        //console.log(row_tag);
        $("#grid1>tbody").append(row_tag);
    });
    
    //$("#cnt1").text(rows.length);
}

const goCreate = () => {
    let loc = `/book/create`;

    if(opt) {
        loc += "/" + opt;
    }

    if(key) {
        loc += "/" + key;
    }

    location.href = loc;
}

const goDetail = (id) => {
    let loc = `/book/word/00/A/${id}`;

    if(opt) {
        loc += `/${opt}`;
    }

    if(key) {
        loc += `/${key}`;
    } else {
        loc += `/xxxx`;
    }

    if(page) {
        loc += `/${page}`;
    }

    console.log(loc);
    location.href = loc;
}

// 데이터를 가져온후 
const afterGetData = (res) => {
    if(res.status == 200) {
        data = res.data;
        console.log(data);

        $("#cnt1").text(data.paging.totalElements);
        $("#pages").text(data.paging.totalPages); 

		if(data.paging.totalPages == 0) {
			$("#page10").attr({
				"max" : data.paging.totalPages,
				"min" : 0
			});
			$("#page10").val(0);
		} else {
			$("#page10").attr({
				"max" : data.paging.totalPages,
				"min" : 1
			});
		}
        
        setOpts(data.opts, data.selOpt);
        setGrid(data.words);
    } else {
        alert(res.message);
    }
}

/*
const btn10 = document.getElementById("btn10");

if (btn10) {
    btn10.addEventListener('click', (e) => {
        var page1 = $("#page10").val();
        var opt = $("#opt").val();
        var key = $("#key").val();

        var loc = `/book/my/${opt}`;

        if(key) {
            loc += `/${key}`;
        } else {
            loc += `/xxxx`;
        }

        if(page1) {
            loc += `/${page1}`;
        }
        location.href = loc;
    });
}
*/

const btn20 = document.getElementById("btn20");

if (btn20) {
    btn20.addEventListener('click', (e) => {
        
        var page = parseInt($("#page10").val(), 10);

        if(page == 0) {
		    return;
		}

        if(page == 1) {
            alert("시작 페이지입니다.");
            return;
        }

        var totalPages = parseInt($("#pages").val(),10);

        if(page == totalPages) {
            alert("마지막 페이지입니다.");
            return;
        }

        var opt = $("#opt").val();
        var key = $("#key").val();

        var loc = `/book/my/${opt}`;

        if(key) {
            loc += `/${key}`;
        } else {
            loc += `/xxxx`;
        }

        loc += `/${page - 2}`;

        location.href = loc;
    });
}

const btn30 = document.getElementById("btn30");

if (btn30) {
    btn30.addEventListener('click', (e) => {
        
        var page = parseInt($("#page10").val(), 10);

        if(page == 0) {
		    return;
		}

        var totalPages = parseInt($("#pages").text(),10);

        if(page == totalPages) {
            alert("마지막 페이지입니다.");
            return;
        }

        var opt = $("#opt").val();
        var key = $("#key").val();

        var loc = `/book/my/${opt}`;

        if(key) {
            loc += `/${key}`;
        } else {
            loc += `/xxxx`;
        }

        loc += `/${page}`;

        location.href = loc;
    });
}

// Search
/* ---
const btn1 = document.getElementById("btn1");

if (btn1) {
    btn1.addEventListener('click', (e) => {
        e.preventDefault();
        var opt = $("#opt").val();
        var key = $("#key").val();
      
        var loc = `/book/search/${opt}`;
        
        path = opt;
        
        if (key) {
            loc += `/${key}`;
            path += `/${key}`;
        }
        
        console.log(loc);

        //$.getData(loc, afterGetData);
        $("#form1").action = loc;
        $("#form1").submit();
    });
}
--- */

let form10 = document.getElementById("form10");
form10.addEventListener("submit", (e) => {
	e.preventDefault();
    
	var page1 = parseInt($("#page10").val(), 10);

	if(page1 == 0) {
	    return false;
	}

	var opt = $("#opt").val();
    var key = $("#key").val();

    var loc = `/book/my/${opt}`;

    if(key) {
        loc += `/${key}`;
    } else {
        loc += `/xxxx`;
    }

    if(page1) {
        loc += `/${page1 - 1}`;
    }
    location.href = loc;
});

let searchForm = document.getElementById("form1");

searchForm.addEventListener("submit", (e) => {
    e.preventDefault();
    var opt = $("#opt").val();
    var key = $("#key").val();

    var loc = `/book/my/${opt}`;

    if(key) {
        loc += `/${key}`;
    } else {
        loc += `/xxxx`;
    }

    /*
    if(page) {
        loc += `/${page}`;
    }
	*/

    console.log(loc);

    location.href = loc;

    return false;
});

/* ---
$("#form1").on("submit", function(event) {
    event.preventDefault();

    var opt = $("#opt").val();
    var key = $("#key").val();

    var loc = `/book/search/${opt}/${key}`;

    console.log(loc);
    $(this).action = loc;
    $(this).submit();
});
--- */

var data = {};
var page = "[[${page}]]";
var opt = "[[${opt}]]";
var key = "[[${key}]]";

/* --- sample data
data.username = '홍길동';
data.opts = [
    { val : "eng", txt : "단어"}
   ,{ val : "kor", txt : "의미"}
   ,{ val : "tag", txt : "태그"}
];
data.selOpt = "tag";

data.words = [
    { word : "appoint", meaning1 : "임명하다"}
   ,{ word : "author" , meaning1 : "작가"    }
];
--- */

$(function() {
    if(key) {
        if(key != "xxxx") {
            $("#key").val(key);
        }
    }

    var loc = `/book/data/my`
    if(opt) {
        loc += `/${opt}`;
    }

    if(key) {
        loc += `/${key}`;
    } else {
        loc += `/xxxx`;
    }

    if(page) {
        loc += `/${page}`;
        $("#page10").val(parseInt(page, 10) + 1);
    }

    console.log(loc);

    $.getData(loc, afterGetData);
});

</script>
</th:block>