<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/book/}">CODE Your Life</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			    <li class="nav-item">
                    <a class="nav-link" th:href="@{/book/intro}">[[#{menu.intro}]]</a>
				</li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? true : false}">
                    <a class="nav-link" th:href="@{/book/stat/3000}">[[#{menu.stat}]]</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/book/view/10110}">[[#{menu.list}]]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/book/login}">[[#{menu.login}]]</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/book/logout}">[[#{menu.logout}]]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/book/signup}">[[#{signup.title}]]</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="link1" class="dropdown-item" th:href="@{/book/?lang=en}">ENG</a></li>
                        <li><a id="link2" class="dropdown-item" th:href="@{/book/?lang=ko}">KOR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>