<html layout:decorate="~{thymeleaf/wordbook/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="row border-bottom">
        <div class="col-8">
            <h2 th:text="${wordbook.meaning1}"></h2>
        </div>
        <div class="col-4 text-end">
			<a th:href="@{/wordbook/}" class="btn btn-sm btn-primary">시작하기</a>
        </div>
    </div>

    <div th:each="wordMeaning : ${wordbook.getWordMeanings()}">
        <div th:id="'collap' + ${wordMeaning.id}" th:class="'collapse show mulcol' + ${wordMeaning.id}">
            <div class="card mt-1" >
                <div class="card-body">
                    <span style="white-space: pre-line;" th:utext="${wordMeaning.meaning}"></span>
                </div>
            </div>
        </div>
        <div th:class="'collapse mulcol' + ${wordMeaning.id}" id="comment">
            <form class="my-2" th:action="@{|/wordbook2/savemeaning/${wordbook.id}/${path}|}" th:object="${wordMeaning}" method="post">
                <input type="hidden" name="id" id="id" th:value="${wordMeaning.id}">
                <div class="mb-2">
                    <textarea  name="meaning" id="meaning" class="form-control" rows="4">[[${wordMeaning.meaning}]]</textarea>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-sm btn-outline-primary">등록</button>
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="collapse" th:attr="data-bs-target='.mulcol' + ${wordMeaning.id}">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    $(function() {
        console.log("/wordbook/intro");
    });
</script>