<html layout:decorate="~{thymeleaf/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div class="col-4">
            <h4>로그인</h4>
        </div>
        <div class="col-8 text-end">
            <span>또는 <a href="/signup">계정을 만드세요.</a></span>
        </div>
    </div>
    <form th:action="@{/login}" method="post" class="post-form">

        <div th:if="${param.error}">
            <div class="alert alert-danger">
                이메일 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-2">
            <label for="username">이메일</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-2">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-2 form-group form-check">
            <label class="form-check-label" for="remember-me">로그인 유지</label>
            <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me" checked>
        </div>
		<div class="text-end">
            <button type="submit" class="btn btn-sm btn-primary">로그인</button>
		</div>
    </form>
</div>
</html>