<html layout:decorate="~{thymeleaf/layout}">
<div layout:fragment="content" class="container my-2">
    <div class="mt-1 mb-1">
        <span th:text="${author.username}"></span>님 반갑습니다.
    </div>
    <form th:action="@{/wordbook2}" method="post">
        <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
                <select class="form-select" name="opt" id="opt" th:value="${opt}">
                    <option value="eng" th:selected="${opt} == 'eng'">단어</option>
                    <option value="kor" th:selected="${opt} == 'kor'">의미</option>
                </select>
            </div>
            <span class="input-group-text">Key</span>
            <input  type="text" class="form-control" name="key" id="key" th:value="${key}">
            <button  type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </form>
    <div class="row ">
        <div class="col-8">
            <h6 class="small text-muted text-start mt-1" th:text="'단어수 : ' + ${list.totalElements}"></h6>
        </div>
        <div class="col-4 text-end">
            <a th:href="@{/wordbook2/create}" class="btn btn-sm btn-primary">단어 추가</a>
        </div>
    </div>
    <table class="table mt-1">
        <thead class="text-left table-dark">
        <tr>
            <th>단어</th>
            <th>의미</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="wordbook : ${list}" class="text-start">
            <td class="text-start">
                <a th:href="@{|/wordbook2/${wordbook.id}?page=${page}&opt=${opt}&key=${key}|}" th:text="${wordbook.word}"></a>
            </td>
            <td th:text="${wordbook.meaning1}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!list.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page=${list.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(1, list.totalPages)}"
                th:if="${page >= list.number - 1 and page <= list.number + 3}"
                th:classappend="${page == list.number + 1 } ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page - 1}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${list.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->    
</div>
<script layout:fragment="script" type='text/javascript'>
var param = {};
param.opt = "[[${opt}]]";
console.log(param);
</script>
