<html layout:decorate="~{thymeleaf/layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/wordbook2}" method="post">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <select class="form-select" name="opt" id="opt" th:value="${opt}">
                    <option value="eng" th:selected="${opt} == 'eng'">단어</option>
                    <option value="kor" th:selected="${opt} == 'kor'">의미</option>
                </select>
            </div>
            <span class="input-group-text">Key</span>
            <input  type="text" class="form-control" name="key" id="key" th:value="${key}">
            <button  type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </form>
    <table class="table">
        <thead class="text-center table-dark">
        <tr>
            <th>단어</th>
            <th>의미</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="wordbook : ${list}" class="text-start">
            <td class="text-start">
                <a th:href="@{|/wordbook2/${wordbook.id}/${path}|}" th:text="${wordbook.word}"></a>
            </td>
            <td th:text="${wordbook.meaning1}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/wordbook2/create}" class="btn btn-sm btn-outline-secondary">추가</a>
</div>

